@import "tailwindcss";
@plugin 'tailwind-scrollbar';

:root {
  /* Màu nền chung của toàn bộ trang (giữ nguyên kể cả dark mode nếu muốn) */
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline {
  --color-header-bg: var(--header-bg);
  --color-background: var(--background);

}
body {
  background-color: var(--background); /* Luôn là màu ở :root nếu .dark không ghi đè */
  color: var(--foreground);
}

@variant dark (&:where(.dark, .dark *));